
@theme-color: #007aff;
@font-size: 28px;
@font-family: -apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
@navbar-large-title-height: 104px;
@safe-area-right: 0.1px;
@safe-area-left: 0.1px;
@safe-area-outer-left: 0.1px;
@safe-area-outer-right: 0.1px;

